.wrapper, .nav-container {
  margin:0 auto;
  max-width:300px;
}

nav {
  /*border-bottom:1px solid #eee;*/
  height:auto;
  background-color:#fff;
  box-shadow: 1px 1px 2px 0 #efefef;

  /*box-shadow: 0 0 5px 0 #eee;*/

}
.nav-container {
  padding:4rem 1rem;
}
  .logo-container {
    display:inline-block;
    vertical-align: middle;
    padding-right:2rem;
  }
    .logo {
      vertical-align: top;
      width:8rem;
    }
  .tagline {
    display:inline-block;
    vertical-align: middle;
    padding-left:2rem;
    border-left: 1px solid #ddd;
    color: #aaa;
    background-color:#fff;
    opacity:0.9;
  }
.modalBG {
  position:fixed;
  bottom:0;
  top:0;
  left:0;
  right:0;
  background-color:#000;
  opacity:0.7;
  z-index:1;
}
.modal {
  position:fixed;
  background-color:#fff;
  width:900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.modal img {
  display:inline-block;
  vertical-align: top;
  background-color:#eee;
  width:300px;
  height:440px;
}
.modal-text {
  display:inline-block;
  padding:2rem;
}

@media screen and (min-width: 606px) {
  .wrapper, .nav-container {
    max-width:586px;
  }  
}

@media screen and (min-width: 891px) {
  .wrapper, .nav-container {
    max-width:871px;
  }
}

@media screen and (min-width: 1461px) {
  .wrapper, .nav-container {
    max-width:1440px;
  }
}