.wrapper, .nav-container {
  margin:0 auto;
}
nav {
  /* border-bottom:1px solid #eee; */
  height:auto;
  background:#fff;
  /*box-shadow: 1px 1px 2px 0 #efefef;*/
  /*box-shadow: 0 0 5px 0 #eee;*/
}
.nav-container {
  /* padding:4rem 1rem; */
  /* text-align: center; */
  padding: 1rem;
  position:relative;
}
  .logo-container {
    display:inline-block;
    width:10%;
  }
    .logo {
      vertical-align: top;
      height:auto;
      width:4rem;
    }
    .tagline {
      /* margin-top:1rem;  */
      display:none;
      color: #aaa;
      font-weight:300;
    }
.search {
  position:absolute;
  left:0;
  right:0;
  margin-top:0.8rem;
  text-align:center;
  display:inline-block;
  /* float: right; */
}
.filter-container {
  /* padding: 0rem 1rem; */
  /* text-align: center; */
  display:inline-block;
  width:90%;
  text-align:right;
}
  .filter {
    font-size:0.9rem; 
    font-weight: 400;
  }
  .sortBy, .filterBy, .search {
      display:inline-block;
    }
    .sortBy {
    }
    .filterBy {
      margin-right:3rem;    
    }


/* Tablet */
@media screen and (min-width: 668px) {
  .wrapper, .nav-container {
    max-width:1150px;
  }
}

/* Desktop */
@media screen and (min-width: 1366px) {
  .wrapper, .nav-container {
    max-width:1440px;
  }
  /* .nav-container {
    text-align: left;
  }
    .logo-container {
      display:inline-block;
      vertical-align: middle;
      padding-right:2rem;
      text-align: left;
    }
    .tagline {
      display:inline-block;
      vertical-align: middle;
      padding-left:2rem;
      border-left: 1px solid #ddd;
     margin-top:0; 
    } */
}