.container {
  display:inline-block;
  position:relative;
  z-index: 1;
}
.container:hover {
  cursor:pointer;
}
.container:focus {
  outline:none;
}
.menu-container {
  position:absolute; 
  background-color:#fff;
  border-radius: 3px;
  padding:0.5rem 0;
  right:0;
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
}
  .menu-contents {
    position:static;
    font-size:0.9rem;
    text-align:left;
    width:11rem;
  }
  .menu-contents a {
    color:#222;
  }
.dropdown-row {
  padding:0.2rem 0rem;
}
.dropdown-row:hover {
  cursor:pointer;
  background-color:#e1e1e1;
}
.dropdown-icon,.dropdown-text,.dropdown-right {
  display:inline-block;
  vertical-align: middle;
}
.dropdown-icon {
  text-align:center;
  width:20%;
}
.dropdown-text {
  text-align: left;
  width:50%;
  /* padding-right:5rem; */
  /* padding: 0.2rem 0.5rem; */
}
.dropdown-right {
  text-align:right;
  width:20%;
}
.dropdown-text-active {
  font-weight:700;
}