@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size:18px;
  line-height: 1.4;
}

button {
  border:0;
  transition:ease-in-out 0.5s;
  padding:0.5rem 0.7rem;
  font-family:inherit;
  background-color:#ccc;
}
button:focus {
  outline:none;  
}
button:hover {
  cursor:pointer;
  opacity:0.6;
}