*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width:100%;
  overflow:auto;
}

html {
  font-size:16px;
  font-weight:400;
  line-height: 1.618;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color:#222;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
  background-color:#f3f3f3;
}

h1, h2, h3, h4, h5 {
  margin:0;
  font-weight:700;
  line-height:1.1;
}
p {
  font-size: 1rem;
}
h1 {
  font-size:2.488rem;
}
h2 {
  font-size:2.074rem;
}
h3 {
  font-size:1.728rem;
}
h4 {
  font-size:1.44rem;
}
h5 {
  font-size:1.2rem;  
  line-height:1.2;
}
small {
  font-size:0.833rem;
}
hr {
  border:0;
  margin:0rem 0.5rem;
  border-bottom:1px solid #e6e6e6;
  /* padding:inherit; */
  display:block;
}
button {
  border:0;
  transition:ease-in-out 100ms;
  padding:0.7rem 0.8rem;
  font-family:inherit;
  outline:none;  
  font-weight:500;
  color:#333;
  font-size:0.833rem;
  text-transform: uppercase;
  opacity:1;
  background:none;
  border-radius: 4px;
  /* margin: 0 0.5rem; */
}
button:focus {
  background:none;
}
button:hover {
  cursor:pointer;
  color:#fff;
  background:#222;
}
button:active {
  background:none;
  color:#222;
}

.filter {
  transition:none;
  text-transform:capitalize;
   color:#999; 
  margin: 0.5rem;
  border-radius: 0;
  font-size:0.9rem;
  padding:0.5rem 0;
  /* padding:0.5rem 0.5rem; */
}
.filter:focus {
  color:#222;
}
.filter:hover {
  cursor:pointer;
  color:#222;
  opacity:1;
  background:none;
}
.filter:active {
  color:#222;
}
.filter-active {
  color:#222;
  /* color:#fff; */
  /* background-color:#222; */
  /* font-weight:900; */
   border-bottom: 1px solid #111; 
}

.button {
  border:0;
  transition:opacity ease-in-out 0.5s;
  padding:0.5rem 0.7rem;
  font-family:inherit;
  background-color:#ddd;
  outline:none;  
}
.button:focus {
}
.button:hover {
  cursor:pointer;
  opacity:0.6;
}

@media screen and (min-width: 668px) {
  html {
  }
}

@media screen and (min-width: 1366px) {
  html {
    font-size: 18px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}