.reader-container {
  position:fixed;
  bottom:0;
  background-color:#f1f1f1;
  top:0;
  right:0;
  left:0;
  z-index:3;
}
  .reader {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    overflow-y:auto;
  }

    .pages {
      width:100%;
      height:auto;
      text-align:right;
    }
    .pages:hover {
      cursor: pointer;
    }

      .singlePg {
        width:100%;
      }

      .pgContainer {
        width:50%;
        vertical-align: middle;      
        display:inline-block;
      }
      .spread {
        width:inherit;
      }
      .pgContainer img {
        width: 100%;
      }

      .chapterEnds {
        display:inline-block;
        width:50%;
        vertical-align: middle;
        text-align:center;
      }

@media screen and (min-width: 668px) {

}

@media screen and (min-width: 1366px) {

}
