.reader-container {
  position:fixed;
  bottom:0;
  background-color:#fff;
  top:0;
  right:0;
  left:0;
  z-index:3;
}
  .reader {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    overflow-y:auto;
    padding-bottom:3rem;
  }

    .pages {
      width:100%;
      height:auto;
      text-align:right;
      background-color:#fff;
      padding:0rem 0;
       box-shadow: 0 0 20px 0 #e1e1e1; 
    }
    .pages:hover {
      cursor: pointer;
    }

      .singlePg {
        width:100%;
      }

      .pgContainer {
        width:50%;
        vertical-align: middle;      
        display:inline-block;
      }
      .spread {
        width:inherit;
      }
      .pgContainer img {
        width: 100%;
      }

      .chapterEnds {
        display:inline-block;
        width:50%;
        vertical-align: middle;
        text-align:center;
      }

    .controls {
      width:100%;
      padding:1rem 0.5rem;
    }
      .ctrl-left {
        display:inline-block;
        width:50%;
        text-align:left;
      }
      .ctrl-right {
        display:inline-block;
        width:50%;
        text-align:right;
      }
    .disqus-container {
      position:fixed;
      left:0;
      width:30rem;
      background:#f1f1f1;
      z-index: 5;
      padding:1rem;
      height:100vh;
      overflow:auto;
      -webkit-overflow-scrolling: touch;
    }
    .disqus {
      z-index: 5;
    }

@media screen and (min-width: 668px) {

}

@media screen and (min-width: 1366px) {

}
