.modalBG {
  position:fixed;
  bottom:0;
  top:0;
  left:0;
  right:0;
  background-color:#000;
  opacity:0.7;
  z-index:1;
}

.modal hr {
  margin: 1rem 0;
}
.modal {
  position:fixed;
  background-color:#fff;
  width:300px;
  height:500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
  .modal img {
    display:inline-block;
    vertical-align: top;
    background-color:#eee;
    width:00px;
  }
  .modal-right {
    vertical-align: top;
    display:inline-block;
    width:300px;
    position:relative;
  }
    .modal-text {
      padding:2rem;
      height:inherit;
      width:inherit;
      overflow-y:auto;
      -webkit-overflow-scrolling: touch;
    }
      .modal-text small {
        color:#aaa;
      }
    .modal-actions {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      border-top:1px solid #eee;
      padding:1rem 0;
      margin:0 2rem;
      background-color:#fff;
    }

@media screen and (min-width: 606px) {
  .modal {
    width:340px;
    height:auto;
  }
    .modal img {
      width:inherit;
      height:460px;
    }
    .modal-right {
      width:inherit;
      height:400px;
    }
}

@media screen and (min-width: 891px) {
  .modal {
    width:850px;
    height:500px;
  }
    .modal-right {
      width:520px;
      height:inherit;
    }
      .modal img {
        height:inherit;
        width:330px;
      }
      .modal-text {
        width:inherit;
        height:86%;
      }

}
@media screen and (min-width: 1461px) {
  .modal {
    width:1100px;
    height:700px;
  }
    .modal-right {
      width:600px;
    }
      .modal img {
        width:470px;
      }
      .modal-text {
        height:90.1%;
      }
}