.modalBG {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000cc;
  z-index: 2;
}

.modal hr {
  margin: 1rem 0;
}
.modal {
  position: fixed;
  background-color: hsl(204, 6%, 98%);
  width: 300px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  z-index: 3;
}
.modal a {
  text-decoration: none;
  font-weight: 700;
}
.link:hover {
  cursor: pointer;
  /* color:#aaa; */
}
.modal-img-container {
  display: inline-block;
  background-color: #eee;
  height: inherit;
}
.modal-img-container img {
  width: 0px;
  vertical-align: top;
}
.modal-right {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: inherit;
  position: relative;
  box-shadow: inset 8px 0 8px -8px #eee;
}
.modal-text {
  height: inherit;
  padding: 2rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-header {
  font-weight: 900;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.modal-chapters-container {
  /* margin: 0 -0.5rem; */
}
.modal-chapters-container a {
  color: #222;
}
.modal-chapters-container a:visited {
  color: #888;
}
.modal-chapter {
  box-shadow: 1px 1px 3px 1px #eee;
  padding: 0.6rem 1.5rem;
  margin: 0.3rem;
  width: calc(100% / 2 - 0.6rem);
  display: inline-block;
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
}
.show-more {
  margin: 0.3rem;
  background: #fff;
  box-shadow: 1px 1px 3px 1px #eee;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 0;
  cursor: pointer;
  font-size: 0.7em;
}
.modal-chapter-num:hover {
}
.modal-synopsis {
}
.modal-synopsis p {
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.modal-chapter-num,
.modal-chapter-date {
  display: inline-block;
  /* text-align: center; */
}
.modal-chapter-num {
  width: 100px;
  text-transform: uppercase;
  font-size: 0.8rem;
  /* margin-right:0.8rem; */
  /* font-weight:500; */
}
.modal-chapter-date {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7rem;
  color: #aaa;
  /*text-align: right;*/
}
.modal-link-section {
  text-align: center;
}
.modal-links {
  font-weight: 400 !important;
  padding-right: 1rem;
}
.modal-actions {
  /* position:absolute; */
  /* bottom:0; */
  /* left:0; */
  /* right:0; */
  /* border-top:1px solid #eee; */
  text-align: center;
  margin: 2rem 0rem;
  /* background-color:#fff; */
}

/* Tablet  */
@media screen and (min-width: 720px) {
  .modal {
    width: 700px;
    height: 500px;
  }
  .modal-right {
    width: 350px;
    height: inherit;
  }
  .modal img {
    width: 350px;
    height: inherit;
  }
}
@media screen and (min-width: 1025px) {
  .modal {
    width: 980px;
    height: 650px;
  }
  .modal img {
    width: 457px;
    height: inherit;
  }
  .modal-right {
    width: 523px;
    height: inherit;
  }
}
